body{
margin:0;
font-family:Arial;
background-image: url("pexels-3.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 10%;
background:#0c0202;
}
.profile-pic{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;

display:block;
margin:auto;
margin-top:20px;
margin-bottom:20px;
}
nav a{
color:white;
margin:15px;
text-decoration:none;
}

.hero{
height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.name{
font-size:60px;
color:#fffefe;
}

.btn{
margin-top:20px;
padding:10px 20px;
background:#fdfeff;
color:black;
cursor:pointer;
}

section{
padding:80px 10%;
text-align:center;
}

.skills-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.skill{
padding:15px;
margin:10px;
background:#1e293b;
border-radius:10px;
transition:0.3s;
}

.skill:hover{
transform:scale(1.1);
background:#150202;
color:rgb(255, 255, 255);
}

.projects-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
margin:15px;
border-radius:10px;
width:250px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}
.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 10%;
}

